<setion class="articles">
  <div class="container">
    <div class="articles__head">
      <div class="articles__text-block">
        <h2 class="articles__title heading-h2">Articles</h2>
        <p class="articles__descr text-p-medium">
          Complex tech decoded by engineers, business trends analyzed by
          experts.
        </p>
      </div>
      <div class="articles__controls">
        <button class="articles__slider-button articles__slider-button-prev">
          <svg
            width="16"
            height="13"
            viewBox="0 0 16 13"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M8.26365 0.463616C8.61513 0.112144 9.18497 0.112144 9.53645 0.463616L14.9364 5.86362C15.2879 6.21509 15.2879 6.78494 14.9364 7.13641L9.53645 12.5364C9.18497 12.8879 8.61513 12.8879 8.26365 12.5364C7.91218 12.1849 7.91218 11.6151 8.26365 11.2636L12.1273 7.40001L1.70005 7.40001C1.20299 7.40001 0.800049 6.99707 0.800049 6.50001C0.800049 6.00296 1.20299 5.60001 1.70005 5.60001H12.1273L8.26365 1.73641C7.91218 1.38494 7.91218 0.815088 8.26365 0.463616Z"
              fill="white"
            />
          </svg>
        </button>
        <button class="articles__slider-button articles__slider-button-next">
          <svg
            width="16"
            height="13"
            viewBox="0 0 16 13"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M8.26365 0.463616C8.61513 0.112144 9.18497 0.112144 9.53645 0.463616L14.9364 5.86362C15.2879 6.21509 15.2879 6.78494 14.9364 7.13641L9.53645 12.5364C9.18497 12.8879 8.61513 12.8879 8.26365 12.5364C7.91218 12.1849 7.91218 11.6151 8.26365 11.2636L12.1273 7.40001L1.70005 7.40001C1.20299 7.40001 0.800049 6.99707 0.800049 6.50001C0.800049 6.00296 1.20299 5.60001 1.70005 5.60001H12.1273L8.26365 1.73641C7.91218 1.38494 7.91218 0.815088 8.26365 0.463616Z"
              fill="white"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>
  <div class="articles__slider-container">
    <div class="articles__slider swiper">
      <ul class="articles__slider-wrapper swiper-wrapper">
        <li class="articles__slide swiper-slide">
          <img
            src="/assets/image/about/articles/articles-3.jpg"
            alt="our team"
            class="articles__slide-img"
            lazy
            width="406"
            height="577"
          />
          <h5 class="articles__slide-title heading-h5">
            List of UX Designer Portfolio / Case Studies where you can make
            money
          </h5>
          <p class="articles__slide-text teqxt-p-medium">
            Here are some portfolios / Case Studies from UX Designers that you
            can use as a reference for creating a portfolio. Two interesting
            things from their portfolio are:
          </p>
          <a href="#" class="articles__slide-button">Read More</a>
        </li>
        <li class="articles__slide swiper-slide">
          <img
            src="/assets/image/about/articles/articles-1.jpg"
            alt="our team"
            class="articles__slide-img"
            lazy
            width="406"
            height="577"
          />
          <h5 class="articles__slide-title heading-h5">
            Skyrocketing in The Designing Career, Why Not?
          </h5>
          <p class="articles__slide-text teqxt-p-medium">
            Ever thought of jumping into the world of design as a career? If
            not, you may want to look at what the word ‘design’ actually means.
            Design is a method of designing aesthetic actions that are carried
            out.
          </p>
          <a href="#" class="articles__slide-button">Read More</a>
        </li>
        <li class="articles__slide articles__slide--large swiper-slide">
          <img
            src="/assets/image/about/articles/articles-2.jpg"
            alt="our team"
            class="articles__slide-img"
            lazy
            width="476"
            height="577"
          />
          <h5 class="articles__slide-title heading-h5">
            Elements that may be missed when designing the UI
          </h5>
          <p class="articles__slide-text teqxt-p-medium">
            This is an article that talks about the little elements that are
            often overlooked when designing UI.
          </p>
          <a href="#" class="articles__slide-button">Read More</a>
        </li>
        <li class="articles__slide swiper-slide">
          <img
            src="/assets/image/about/articles/articles-3.jpg"
            alt="our team"
            class="articles__slide-img"
            lazy
            width="406"
            height="577"
          />
          <h5 class="articles__slide-title heading-h5">
            List of UX Designer Portfolio / Case Studies where you can make
            money
          </h5>
          <p class="articles__slide-text teqxt-p-medium">
            Here are some portfolios / Case Studies from UX Designers that you
            can use as a reference for creating a portfolio. Two interesting
            things from their portfolio are:
          </p>
          <a href="#" class="articles__slide-button">Read More</a>
        </li>
        <li class="articles__slide swiper-slide">
          <img
            src="/assets/image/about/articles/articles-1.jpg"
            alt="our team"
            class="articles__slide-img"
            lazy
            width="406"
            height="577"
          />
          <h5 class="articles__slide-title heading-h5">
            Skyrocketing in The Designing Career, Why Not?
          </h5>
          <p class="articles__slide-text teqxt-p-medium">
            Ever thought of jumping into the world of design as a career? If
            not, you may want to look at what the word ‘design’ actually means.
            Design is a method of designing aesthetic actions that are carried
            out.
          </p>
          <a href="#" class="articles__slide-button">Read More</a>
        </li>
        <li class="articles__slide articles__slide--large swiper-slide">
          <img
            src="/assets/image/about/articles/articles-2.jpg"
            alt="our team"
            class="articles__slide-img"
            lazy
            width="476"
            height="577"
          />
          <h5 class="articles__slide-title heading-h5">
            Elements that may be missed when designing the UI
          </h5>
          <p class="articles__slide-text teqxt-p-medium">
            This is an article that talks about the little elements that are
            often overlooked when designing UI.
          </p>
          <a href="#" class="articles__slide-button">Read More</a>
        </li>
      </ul>
    </div>
  </div>
</setion>
