<section class="about">
  <div class="container">
    <h1 class="heading-h1 about__title">Activity & Updates</h1>
    <p class="heading-h5 about__descr">
      Our biggest challenge is making sure we're always designing and building
      products that will help you run your business better.
    </p>
    <ul class="about__tabs">
      <li class="tabs__tab tabs__tab--active">
        <a href="#all" class="tabs__link">View all</a>
      </li>
      <li class="tabs__tab">
        <a href="#design" class="tabs__link">Design</a>
      </li>
      <li class="tabs__tab">
        <a href="#articles" class="tabs__link">Articles</a>
      </li>
      <li class="tabs__tab">
        <a href="#product" class="tabs__link">Product</a>
      </li>
      <li class="tabs__tab">
        <a href="#software" class="tabs__link">Software Development</a>
      </li>
      <li class="tabs__tab">
        <a href="#customer" class="tabs__link">Customer Success</a>
      </li>
    </ul>
  </div>
  <div class="slider-wrapper">
    <div class="about__slider-container">
      <ul class="about__slider swiper-wrapper">
        <li
          class="about__slide swiper-slide"
          data-slide-hiden="false"
          data-category="software"
        >
          <img
            src="/assets/image/about/about-1.jpg"
            alt="woman in working"
            lazy
            class="about__slide-img"
            width="515"
            height="428"
          />
          <div class="about__slide-head text-p-small">
            <time datetime="2021-01-30" class="about__slide-time">
              Published in Insight Jan 30, 2021
            </time>
            <span class="about__slide-author"></span>
          </div>
          <h5 class="heading-h5 about__slide-title">
            Practice making User Flow
          </h5>
          <p class="text-p-medium about__slide-text">
            In this article, we'll cover how to create user flows
          </p>
        </li>
        <li
          class="about__slide swiper-slide"
          data-slide-hiden="false"
          data-category="design"
        >
          <img
            src="/assets/image/about/about-2.jpg"
            alt="woman in working"
            lazy
            class="about__slide-img"
            width="515"
            height="428"
          />
          <div class="about__slide-head text-p-small">
            <time datetime="2021-01-30" class="about__slide-time">
              Published in Insight Jan 30, 2021
            </time>
            <span class="about__slide-author">by : Albert Sans</span>
          </div>
          <h5 class="heading-h5 about__slide-title">
            Overview of the Design Principles
          </h5>
          <p class="text-p-medium about__slide-text">
            What are Design Principles?… To understand design principles, we
            first discuss the principles.
          </p>
        </li>
        <li
          class="about__slide swiper-slide"
          data-slide-hiden="false"
          data-category="customer"
        >
          <img
            src="/assets/image/about/about-3.jpg"
            alt="woman in working"
            lazy
            class="about__slide-img"
            width="515"
            height="428"
          />
          <div class="about__slide-head text-p-small">
            <time datetime="2021-01-30" class="about__slide-time">
              Published in Insight Jan 30, 2021
            </time>
            <span class="about__slide-author"></span>
          </div>
          <h5 class="heading-h5 about__slide-title">
            Using Grid in website design
          </h5>
          <p class="text-p-medium about__slide-text">
            Andi: "What's the grid like?" Toni: “Like below…”
          </p>
        </li>
        <li
          class="about__slide swiper-slide"
          data-slide-hiden="false"
          data-category="software"
        >
          <img
            src="/assets/image/about/about-1.jpg"
            alt="woman in working"
            lazy
            class="about__slide-img"
            width="515"
            height="428"
          />
          <div class="about__slide-head text-p-small">
            <time datetime="2021-01-30" class="about__slide-time">
              Published in Insight Jan 30, 2021
            </time>
            <span class="about__slide-author"></span>
          </div>
          <h5 class="heading-h5 about__slide-title">
            Practice making User Flow
          </h5>
          <p class="text-p-medium about__slide-text">
            In this article, we'll cover how to create user flows
          </p>
        </li>
        <li
          class="about__slide swiper-slide"
          data-slide-hiden="false"
          data-category="design"
        >
          <img
            src="/assets/image/about/about-2.jpg"
            alt="woman in working"
            lazy
            class="about__slide-img"
            width="515"
            height="428"
          />
          <div class="about__slide-head text-p-small">
            <time datetime="2021-01-30" class="about__slide-time">
              Published in Insight Jan 30, 2021
            </time>
            <span class="about__slide-author">by : Albert Sans</span>
          </div>
          <h5 class="heading-h5 about__slide-title">
            Overview of the Design Principles
          </h5>
          <p class="text-p-medium about__slide-text">
            What are Design Principles?… To understand design principles, we
            first discuss the principles.
          </p>
        </li>
        <li
          class="about__slide swiper-slide"
          data-slide-hiden="false"
          data-category="customer"
        >
          <img
            src="/assets/image/about/about-3.jpg"
            alt="woman in working"
            lazy
            class="about__slide-img"
            width="515"
            height="428"
          />
          <div class="about__slide-head text-p-small">
            <time datetime="2021-01-30" class="about__slide-time">
              Published in Insight Jan 30, 2021
            </time>
            <span class="about__slide-author"></span>
          </div>
          <h5 class="heading-h5 about__slide-title">
            Using Grid in website design
          </h5>
          <p class="text-p-medium about__slide-text">
            Andi: "What's the grid like?" Toni: “Like below…”
          </p>
        </li>
        <li
          class="about__slide swiper-slide"
          data-slide-hiden="false"
          data-category="software"
        >
          <img
            src="/assets/image/about/about-1.jpg"
            alt="woman in working"
            lazy
            class="about__slide-img"
            width="515"
            height="428"
          />
          <div class="about__slide-head text-p-small">
            <time datetime="2021-01-30" class="about__slide-time">
              Published in Insight Jan 30, 2021
            </time>
            <span class="about__slide-author"></span>
          </div>
          <h5 class="heading-h5 about__slide-title">
            Practice making User Flow
          </h5>
          <p class="text-p-medium about__slide-text">
            In this article, we'll cover how to create user flows
          </p>
        </li>
        <li
          class="about__slide swiper-slide"
          data-slide-hiden="false"
          data-category="design"
        >
          <img
            src="/assets/image/about/about-2.jpg"
            alt="woman in working"
            lazy
            class="about__slide-img"
            width="515"
            height="428"
          />
          <div class="about__slide-head text-p-small">
            <time datetime="2021-01-30" class="about__slide-time">
              Published in Insight Jan 30, 2021
            </time>
            <span class="about__slide-author">by : Albert Sans</span>
          </div>
          <h5 class="heading-h5 about__slide-title">
            Overview of the Design Principles
          </h5>
          <p class="text-p-medium about__slide-text">
            What are Design Principles?… To understand design principles, we
            first discuss the principles.
          </p>
        </li>
        <li
          class="about__slide swiper-slide"
          data-slide-hiden="false"
          data-category="customer"
        >
          <img
            src="/assets/image/about/about-3.jpg"
            alt="woman in working"
            lazy
            class="about__slide-img"
            width="515"
            height="428"
          />
          <div class="about__slide-head text-p-small">
            <time datetime="2021-01-30" class="about__slide-time">
              Published in Insight Jan 30, 2021
            </time>
            <span class="about__slide-author"></span>
          </div>
          <h5 class="heading-h5 about__slide-title">
            Using Grid in website design
          </h5>
          <p class="text-p-medium about__slide-text">
            Andi: "What's the grid like?" Toni: “Like below…”
          </p>
        </li>
      </ul>
      <div class="about__slider-button about__slider-button-next">
        <svg
          width="28"
          height="18"
          viewBox="0 0 28 18"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M19.0003 2.33325L25.667 8.99992L19.0003 15.6666M9.00032 15.6666L2.33366 8.99992L9.00032 2.33325"
            stroke="#1D1E25"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
    </div>
  </div>
  
</section>
