<section class="team">
  <div class="container">
    <h1 class="team__title heading-h1">
      Everything you need to get the attention of your <br />
      audience
    </h1>
    <div class="team__descr-container">
      <div class="team__descr heading-h5">
        Our digital agency helps clients develop, implement and maintain
        successful digital marketing strategies across all channels. Also work
        with you to build your website and create online businesses that grow.
      </div>
      <button class="team__connected">
        <svg class="circle" viewBox="0 0 100 100">
          <path id="circle" d="M 0,50 a 50,50 0 1,1 0,1 z" />
          <text>
            <textPath
              xlink:href="#circle"
              textLength="305"
              lengthAdjust="spacingAndGlyphs"
            >
              GET IN TOUCH GET IN TOUCH GET IN TOUCH
            </textPath>
          </text>
        </svg>
        <svg
          class="team__connected-icon"
          width="59"
          height="59"
          viewBox="0 0 59 59"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect
            x="15.0283"
            y="46.4426"
            width="3.85427"
            height="41.4334"
            transform="rotate(-135 15.0283 46.4426)"
            fill="#161A34"
          />
          <rect
            x="17.8916"
            y="17.9634"
            width="3.85427"
            height="26.9799"
            transform="rotate(-90 17.8916 17.9634)"
            fill="#161A34"
          />
          <rect
            x="44.8916"
            y="41.1089"
            width="3.85427"
            height="26.9799"
            transform="rotate(180 44.8916 41.1089)"
            fill="#161A34"
          />
        </svg>
      </button>
    </div>
    <div class="team-slider">
      <div class="swiper-wrapper team-slider__wrapper">
        <div class="swiper-slide team-slider__slide">
          <img
            src="/assets/image/team/team-1.jpg"
            alt="laptop"
            lazy
            width="502"
            height="629"
          />
        </div>
        <div class="swiper-slide team-slider__slide slide--combination">
          <img
            src="/assets/image/team/team-2.jpg"
            alt="coworking"
            lazy
            width="502"
            height="370"
          />
          <div class="slide__contant">
            <h3 class="slide__title heading-h5">What we believe in</h3>
            <p class="slide__text text-p-medium">
              Over the years at Sans, we’ve put a lot of thought into what it is
              that makes us who we are. The qualities that unite us, that make
              us such an effective team, and...
            </p>
            <a href="#" class="slide__button text-p-default"
              >See Details
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M8 5l8 7-8 7"
                  stroke="white"
                  stroke-width="2"
                  fill="none"
                />
              </svg>
            </a>
          </div>
        </div>
        <div class="swiper-slide team-slider__slide">
          <img
            src="/assets/image/team/team-3.jpg"
            alt="woman in work"
            lazy
            width="502"
            height="460"
          />
        </div>
      </div>
      <div class="team-slider__button team-slider__button-next">
        <svg
          width="28"
          height="18"
          viewBox="0 0 28 18"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M19.0003 2.33325L25.667 8.99992L19.0003 15.6666M9.00032 15.6666L2.33366 8.99992L9.00032 2.33325"
            stroke="#1D1E25"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
    </div>
    <div class="team__banner banner">
      <div class="banner__title heading-h2">
        Powerful ideas & sales acceleration
      </div>
      <div class="banner__text text-p-large">
        We are a software development firm specializing in digital products. We
        build beautiful, functional and cross-platform solutions that are
        accessible to all.
      </div>
    </div>
  </div>
</section>
