.team {
  padding: 130px 0 160px;
  @include tablet {
    padding: 120px 0 160px;
  }

  &__title {
    max-width: 906px;
    margin-bottom: 98px;
    @include small-tablet {
      margin-bottom: 28px;
    }
  }

  &__descr-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include tablet {
      align-items: flex-end;
      justify-content: center;
      flex-direction: column;
      margin-bottom: 30px;
    }
  }
  &__descr {
    position: relative;
    margin-left: 100px;
    margin-bottom: 135px;
    font-weight: 600;
    font-size: 32px;
    line-height: 1.3125;
    letter-spacing: -0.03em;
    color: var(--neutral-color-100);
    max-width: 738px;
    &::before {
      content: '';
      width: 76px;
      height: 1px;
      background: var(--neutral-color-140);
      position: absolute;
      top: 23px;
      left: -100px;
      @include mobile {
        display: none;
      }
    }
    @include tablet {
      font-size: 28px;
      margin-bottom: 30px;
    }
    @include mobile {
      margin-left: 0;
    }
  }

  &__connected {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 160px;

    &-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 59px;
      height: 59px;
      transform: translate(-39%, -50%);
    }

    &:hover .circle {
      animation-play-state: paused;
    }
  }
  &__banner {
    margin-bottom: 160px;
    @include small-tablet {
      margin-bottom: 100px;
    }
  }
}
.team-slider {
  position: relative;
  margin-bottom: 245px;
  max-width: 87vw;
  overflow: hidden;
  margin-left: auto;
  @include small-tablet {
    margin-bottom: 100px;
  }

  &__slide {
    max-width: 502px;
    @include small-tablet {
      max-width: 300px;
    }
    @include small-tablet {
      max-height: 546px;
    }
    @include mobile {
      max-height: 450px;
    }
    & img {
      object-fit: cover;
      max-height: 634px;
      width: 100%;
      height: 100%;
    }
  }
  &__button {
    position: absolute;
    top: 99px;
    left: 464px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: var(--neutral-color-10);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    @include small-tablet {
      display: none;
    }
  }
}
.slide {
  &--combination img {
    @include mobile {
      display: none;
    }
  }
  &__title h3 {
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: -0.01em;
    color: var(--neutral-color-140);
    margin: 24px 0 8px;
    @include mobile {
      font-size: 20px;
    }
  }

  &__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.77778;
    color: var(--neutral-color-150);
    margin-bottom: 32px;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 100px;
    padding: 16px 27px;
    width: 120px;
    height: 24px;
    background-color: var(--neutral-color-140);
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
    color: var(--neutral-color-10);
    transition:
      background-color var(--transition),
      color var(--transition);
    &:hover {
      background-color: var(--neutral-color-30);
      color: var(--neutral-color-140);
      & path {
        transition: stroke var(--transition);
        stroke: var(--neutral-color-140);
      }
    }
  }
}
.teammate {
  &__title {
    max-width: 690px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.04em;
    color: var(--neutral-color-140);
    margin-bottom: 24px;
  }

  &__descr {
    max-width: 690px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.77778;
    color: var(--neutral-color-150);
    margin-bottom: 80px;
  }

  &__slider {
    position: relative;
    overflow: hidden;
    margin-bottom: 100px;
  }

  &__slider-slide {
    max-width: 379px;
    max-height: 621px;
  }

  &__slider-buttont-next {
    position: absolute;
    top: 177px;
    left: 354px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background-color: #fff;
    z-index: 10;
    @include mini-desktop {
      display: none;
    }
  }
}
.teammate .slide {
  &__img {
    margin-bottom: 16px;
  }
  &__contant {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__info {
  }

  &__name {
    font-weight: 600;
    line-height: 1.5;
    color: var(--neutral-color-100);
    margin-bottom: 8px;
  }

  &__position {
    font-weight: 500;
    line-height: 1.5;
    color: var(--neutral-color-150);
  }

  &__connect {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }

  &__connect-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: var(--neutral-color-30);
  }
}
.link-hover:hover {
  transition: all var(--transition);
  background-color: var(--neutral-color-90);
  & path {
    transition: all var(--transition);

    fill: var(--neutral-color-30);
  }
}

.join {
  display: flex;
  justify-content: space-between;
  @include mini-desktop {
    flex-direction: column;
    align-items: flex-start;
  }
  &__title {
    max-width: 626px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.04em;
    color: var(--neutral-color-100);
    @include mini-desktop {
      margin-bottom: 20px;
    }
  }
  &__info {
    max-width: 506px;
  }
  &__descr {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.77778;
    color: var(--neutral-color-150);
    margin-bottom: 24px;
  }

  &__button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    font-weight: 600;
    line-height: 1.5;
    color: var(--neutral-color-100);
    transition: color var(--transition);
    & path {
      transition: stroke var(--transition);
      stroke: var(--neutral-color-100);
    }

    &:hover {
      color: var(--neutral-color-150);
      & path {
        stroke: var(--neutral-color-150);
      }
    }
  }
}
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--neutral-color-30);
  border-bottom: 1px solid var(--neutral-color-30);
  padding: 80px 0;
  @include tablet {
    padding: 70px 0;
    display: block;
  }
  &__title {
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.04em;
    color: var(--neutral-color-100);
    max-width: 480px;
    @include tablet {
      text-align: center;
      margin: 0 auto 20px;
    }
  }

  &__text {
    max-width: 470px;
    font-weight: 600;
    line-height: 1.5;
    color: var(--neutral-color-100);
    @include tablet {
      text-align: center;
      margin: 0 auto;
    }
  }
}

.circle {
  display: block;
  overflow: visible;
  width: 127px;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.08em;
  fill: var(--neutral-color-90);
  transition:
    transform var(--transition),
    animation-play-state var(--transition);
  animation-name: rotate;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: both;
}

.circle path {
  fill: none;
  position: absolute;
  top: 0;
  left: 0;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
